.button {
    -fx-background-color: #3A6EA5; /* Blue button color */
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #2C4D75;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: lightgray;
}
